// 無駄なスクロールバーを非表示
.scroll_wrap::-webkit-scrollbar{
    display: none;
}

// テーブルの親Div
.table_parent_div{
    width: 100%;
    height: 430px;
}

// 勤怠管理のリスト用
.kintai_mgt_list {
    width: 100%;
    height: calc(100vh - 155px);
}

// 従業員管理のリスト用
.employee_mgt_list {
    width: 100%;
    height: calc(100vh - 155px);
}

// 残業ランキングのリスト用
.over_time_ranking_list {
    width: 100%;
    height: calc(100vh - 155px);
}

// 荷主稼働ランキングのリスト用
.customer_work_time_ranking_list {
    width: 100%;
    height: calc(100vh - 155px);
}

// 派遣利用のリスト用
.temporary_use_list {
    width: 100%;
    height: calc(100vh - 155px);
}