$main_color: #ffe5b4d2;
$sub_color: #B0E0E6;
$third_color: #8CD790;

// 画面全体に適用するスタイル
body{
    background-color: $main_color;
    font-family: 'Kosugi Maru';
}

// 数字のフォント
.Alkatra {
    font-family: 'Alkatra'
}

// 英語のフォント
.Arvo {
    font-family: 'Arvo'
}

// 英語のフォント
.Calistoga {
    font-family: 'Calistoga'
}

.zen-old-mincho-regular {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
}